* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background: #333;
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    background: #eee;
    color: #555;
    padding: 0 15px;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: #555;
}

nav ul li a:hover {
    text-decoration: underline;
}

nav ul.menu {
    background: #ddd;
    position: absolute;
    top: 75px;
    left: 0;
    right: 0;
    padding: 15px;
    text-align: right;
    display: none;
    flex-direction: column;
}

nav ul.menu li:not(:last-child) {
    margin-bottom: 15px;
}

nav ul.button {
    height: 25px;
    width: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}

nav ul.button li {
    width: 100%;
    height: 5px;
    background: #555;
    border-radius: 3px;
    transition: 0.3s;
}

nav ul.button:hover li {
    background: #333;
}

@media(min-width: 700px) {
    nav ul.menu {
        display: flex!important;
        flex-direction: row;
        position: relative;
        top: 0;
        padding: 0;
        background: none;
    }
    nav ul.menu li:not(:last-child) {
        margin-bottom: 0;
        margin-right: 15px;
    }
    nav ul.button {
        display: none;
    }
}